.title {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(121.57deg,#fff 18.77%,hsla(0,0%,100%,.66) 60.15%);
    background-size: 100%;
    margin: 0;
    text-align: left;
    margin-bottom: 0.5em;
}

.about { 
    margin-left: 2em;
}

.about__description { 
    color: #7D8597;
    line-height: 1.6;
    margin-bottom: 1.5em;
    font-weight: 500;
}

.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

.btn {
    flex: 1 1 auto;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 35px;
    width: 100%;
    margin: auto;
    font-weight: bold;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.gradient__btn { 
    background-image: linear-gradient(to right, #fda8e5 0%, #92b3ec 51%, #fda8e5 100%);
    /* letter-spacing: 2px; */
}

.BgAnimation {
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    z-index: 0;
}

.BgAnimation__svg {
    height: 300px;
    width: 300px;
    clip-path: polygon(25% 3%,75% 3%,97% 28%,97% 75%,75% 97%,25% 97%,3% 75%,3% 25%);
}

@media only screen and (min-width: 600px) {
    .BgAnimation__svg {
        height: 450px;
        width: 450px;
        margin-left: 28em;
    }

    .BgAnimation {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .btn__container {
        width: 255px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
    h1.title {
        width: 450px;
    }
    
    h4.about__description {
        width: 600px;
    }

    .about {
        margin: 0 -80px;
        padding: 40px 80px 0;
    }

}