.logo {
    margin: auto;
}

.logo__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-right: 9em; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 0.5em;
}

.social__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 9em;
}

.social__icons {
    padding: 0.5rem;
}

.social__icons:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    cursor: pointer;
}

.navbar__links { 
    order: 3;
    color: #979DAC;
    font-weight: 500;
}

.navbar__links a { 
    padding: 0 1em;
}

@media only screen and (min-width: 600px) {
    .navbar__links { 
        order: 2;
    }

    .social__container {
        order: 3;
        margin: 0;
    }

    .navbar {
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 1em;
        font-size: 1.2em;
    }

    .logo__container {
        margin-right: 1em;
    }

    .css-i4bv87-MuiSvgIcon-root {
        font-size: 2rem !important;
        padding: 1rem;
    }

    #cloud {
        padding: 0 !important;
    }

}

@media only screen and (min-width: 1024px) {
    .logo__container {
        width: 192px;
        margin-right: 0;
    }

    .logo {
        margin: 0;
    }

    .navbar {
        max-width: 875px;
        justify-content: space-between;
        margin: 0.5em auto;
        padding: 0;
    }
}



@media only screen and (min-width: 1700px) {
    .navbar {
        max-width: 1700px;
        justify-content: space-evenly;
    }
}