.experience-body {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.job-btn {
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    line-height: 1;
    outline-color: hsl(0, 0%, 0%);
    font-family: inherit;
    font-size: clamp(1em, 5vh, 1.25em);
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 0.5em;
}

.active-btn {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.position {
    font-weight: normal;
    font-size: 1.25em;
}

.job {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1em;
}

.job-desc {
    display: flex;
}

.right {
    margin-right: 1em;
    font-size: 1em;
}

.company {
    color: #FFF;
    background-color: #BBBFCA;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    width: auto;
    display: inline-block
}

.date {
    color: hsl(0, 0%, 30%);
}


.Mui-selected {
    color: inherit !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-background-clip: text;
    background-size: 100% 100%;
    background-image: linear-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%) !important;
    background-image: -moz-linear-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%) !important; /* FF 3.6+ */  
    background-image: -ms-linear-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%) !important; /* IE10 */  
    background-image: -webkit-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%) !important; /* Safari 4+, Chrome 2+ */  
    background-image: -webkit-linear-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%) !important; /* Safari 5.1+, Chrome 10+ */  
    background-image: -o-linear-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%) !important; /* Opera 11.10 */
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    background-size:cover; 
    background-repeat:no-repeat;  
    font-weight: 600 !important;
}

.MuiTabs-indicator {
    background-image: linear-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%);
}

.MuiTab-root {
    color: #7D8597 !important;
}

.job__big {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .job__big {
        display: flex;
        justify-content: space-between;
    }

    .job__container {
        align-self: flex-start;
        width: 100%;
        margin-left: 4em;
    }

    .job__small {
        display: none;
    }
    
    .MuiTab-root {
        padding: 0 !important;
    }
}

.company__link {
    color: inherit !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 100%;
    background-image: linear-gradient(to right, #92b3ec 0%, #fda8e5 51%, #fda8e5 100%);
    font-weight: 600 !important;
}

